html, body {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand h1 {
  font-size: 28px;
  color: #3e3e3e;
  text-align: center;
  font-weight: 200;
}

.brand h1 strong {
  font-weight: 400;
}

.brand h2 {
  font-size: 22px;
  color: #3e3e3e;
  text-align: center;
  font-weight: 200;
}

.contact {
  text-align: center;
  margin-top: 20px;
}

.contact ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact li {
  margin: 0 10px;
}

.contact a {
  color: #3e3e3e;
  text-decoration: none;
  font-size: 24px;
}